<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gautam Gadipudi</title>
    <link rel="stylesheet" type="text/html" href="../content/css/master.css">
  </head>
  <body>
    {{> navbar}}
    <p>Hey! This page is about the nemesis</p>
    {{> footer}}
  </body>
</html>
