body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url('../Images/background.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  z-index: -1;
}

.realname {
  font-size: 40px;
  z-index: 1;
}
